<% unless @error %>
  <table>
    <tr><td><strong>Password:</strong></td><td><%= @result[:pw].password[:string] %></td></tr>
    <tr><td><strong>Crypt:</strong></td><td><%= @result[:pw].password[:crypt] %></td></tr>
    <tr><td><strong>MD5:</strong></td><td><%= @result[:pw].password[:md5] %></td></tr>
    <tr><td><strong>Nato:</strong></td><td><%= @result[:pw].password[:nato] %></td></tr>
  </table>
<% end %>
